* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue', sans-serif;

  --bg-primary: #28293E;
  --fc-primary: #ffffff;
  --fc-secondary:  hsl(250, 50%, 80%);

  font-size: 62.5%;

  --fs-heading: clamp(4rem, 1rem + 4vw, 5.6rem);
  --fs-heading-sm: clamp(3rem, 0.5rem + 4vw, 4rem);
}

body {
  font-family: var(--ff-heading);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
}

.page {
  margin: 0 auto;
  max-width: clamp(33rem, 30rem + 60vw, 177rem);
  padding: 0 5rem;
}


img {
  width: 100%;
  height: auto;
  
  transition: transform 200ms;
}

header {
  animation-name: topdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

header {
  font-family: var(--ff-heading);
  
  text-align: center;

  margin: 10rem 0 8rem;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  
  letter-spacing: 3px;
  
  margin-bottom: 1.7rem;
}

header h1 {
  font-family: var(--ff-heading);
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
}

main {
  display: grid;
  gap: 3.2rem;

  animation-name: downtop;
  animation-duration: 1s;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

img:hover {
  transform: scale(1.1);
}

.card {
  position: relative;
}

.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  transition: all 200ms;
}

.card h2 {
  position: absolute;

  bottom: 5rem;
  left: 2.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.3rem;

  font-weight: 800;
  font-size: var(--fs-heading-sm);
  line-height: 4.8rem;
  
  color: white;
}

.card h2 span {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 1.6rem;
  color: #090039;
  
  height: 3.8rem;
  width: fit-content;
  padding: 0 1.6rem;
  border-radius: 2rem;
  
  background: white;

  display: inline-flex;
  align-items: center;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  
  /* .page {
    max-width: 117rem;
    padding: 0 5rem;
  } */
  
  main {
    grid-template-columns: 1fr 1fr;
  }
  
  h2 {
    font-size: 5.6rem;
  }
  
  
}

@media (min-width: 930px) {
    main {
      grid-template-areas: 
      "A B B" 
      "C C D";
    }
  
    main div:nth-child(1) {
      grid-area: A;
    }
    
    main div:nth-child(2) {
      grid-area: B;
    }
    
    main div:nth-child(3) {
      grid-area: C;
    }
    
    main div:nth-child(4) {
      grid-area: D;
    }
}






