

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
  
  font-family: 'Open Sans';

}

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  margin: 0;

  min-height: 100vh;
}

nav {
  margin-bottom: 58px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ul {
  font-family: 'Mulish';
  list-style: none;
  align-items: center;
  
  display: flex;
  gap: 48px;
  
  margin: 0;
  padding: 0;
}

ul li a{
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
}

main {
  margin-bottom: 82px;
  
  list-style: none;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Mulish';
  font-size: 49px;
  line-height: 56px;
  
  height: 112px;
  width: 489px;
  
  font-weight: normal;
  
  text-align: left;

  margin-bottom: 40px;
}

h1 strong {
  color: #89C5CC;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #7D7987;

  margin-bottom: 40px;
}

button {
  padding: 14px 32px 15px;
  
  font-family: 'DM Sans';
  font-weight: normal;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  background-color: #69B99D;
  color: #F9F9F9;
  
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

button:hover{
  background-color: #3b8e71;
}

button img {
  width: 24px;
  height: 24px;
}


footer {
  text-align: center;
  
  font-size: 14px;
  line-height: 28px;
  
  margin-bottom: 30px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}


#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}